<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.yangshop.dao.DbOrdMapper">
  <resultMap id="BaseResultMap" type="com.shop.yangshop.po.DbOrd">
    <id column="ORD_ID" jdbcType="INTEGER" property="ordId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="PROD_ID" jdbcType="INTEGER" property="prodId" />
    <result column="COUNT" jdbcType="INTEGER" property="count" />
    <result column="REAL_PAY" jdbcType="DECIMAL" property="realPay" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ORD_ID, USER_ID, PROD_ID, `COUNT`, REAL_PAY, CREATE_DATE, `STATE`, `TYPE`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DB_ORD
    where ORD_ID = #{ordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DB_ORD
    where ORD_ID = #{ordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ORD_ID" keyProperty="ordId" parameterType="com.shop.yangshop.po.DbOrd" useGeneratedKeys="true">
    insert into DB_ORD (USER_ID, PROD_ID, `COUNT`, 
      REAL_PAY, CREATE_DATE, `STATE`, 
      `TYPE`)
    values (#{userId,jdbcType=INTEGER}, #{prodId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{realPay,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ORD_ID" keyProperty="ordId" parameterType="com.shop.yangshop.po.DbOrd" useGeneratedKeys="true">
    insert into DB_ORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="prodId != null">
        PROD_ID,
      </if>
      <if test="count != null">
        `COUNT`,
      </if>
      <if test="realPay != null">
        REAL_PAY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="realPay != null">
        #{realPay,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.yangshop.po.DbOrd">
    update DB_ORD
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
        PROD_ID = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        `COUNT` = #{count,jdbcType=INTEGER},
      </if>
      <if test="realPay != null">
        REAL_PAY = #{realPay,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where ORD_ID = #{ordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.yangshop.po.DbOrd">
    update DB_ORD
    set USER_ID = #{userId,jdbcType=INTEGER},
      PROD_ID = #{prodId,jdbcType=INTEGER},
      `COUNT` = #{count,jdbcType=INTEGER},
      REAL_PAY = #{realPay,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      `STATE` = #{state,jdbcType=INTEGER},
      `TYPE` = #{type,jdbcType=VARCHAR}
    where ORD_ID = #{ordId,jdbcType=INTEGER}
  </update>
</mapper>