<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.yangshop.dao.DbProdMapper">
  <resultMap id="BaseResultMap" type="com.shop.yangshop.po.DbProd">
    <id column="PROD_ID" jdbcType="INTEGER" property="prodId" />
    <result column="PROD_NAME" jdbcType="VARCHAR" property="prodName" />
    <result column="PROD_IMGS" jdbcType="VARCHAR" property="prodImgs" />
    <result column="PROD_TYPE" jdbcType="VARCHAR" property="prodType" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MOD_DATE" jdbcType="TIMESTAMP" property="modDate" />
    <result column="PROD_DESC" jdbcType="VARCHAR" property="prodDesc" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="EXT1" jdbcType="VARCHAR" property="ext1" />
    <result column="EXT2" jdbcType="VARCHAR" property="ext2" />
    <result column="EXT3" jdbcType="VARCHAR" property="ext3" />
    <result column="OP_ID" jdbcType="VARCHAR" property="opId" />
  </resultMap>
  <sql id="Base_Column_List">
    PROD_ID, PROD_NAME, PROD_IMGS, PROD_TYPE, `STATE`, CREATE_DATE, MOD_DATE, PROD_DESC, 
    REMARKS, EXT1, EXT2, EXT3, OP_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DB_PROD
    where PROD_ID = #{prodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DB_PROD
    where PROD_ID = #{prodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="PROD_ID" keyProperty="prodId" parameterType="com.shop.yangshop.po.DbProd" useGeneratedKeys="true">
    insert into DB_PROD (PROD_NAME, PROD_IMGS, PROD_TYPE, 
      `STATE`, CREATE_DATE, MOD_DATE, 
      PROD_DESC, REMARKS, EXT1, 
      EXT2, EXT3, OP_ID)
    values (#{prodName,jdbcType=VARCHAR}, #{prodImgs,jdbcType=VARCHAR}, #{prodType,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modDate,jdbcType=TIMESTAMP}, 
      #{prodDesc,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR}, #{opId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="PROD_ID" keyProperty="prodId" parameterType="com.shop.yangshop.po.DbProd" useGeneratedKeys="true">
    insert into DB_PROD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodName != null">
        PROD_NAME,
      </if>
      <if test="prodImgs != null">
        PROD_IMGS,
      </if>
      <if test="prodType != null">
        PROD_TYPE,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modDate != null">
        MOD_DATE,
      </if>
      <if test="prodDesc != null">
        PROD_DESC,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="ext1 != null">
        EXT1,
      </if>
      <if test="ext2 != null">
        EXT2,
      </if>
      <if test="ext3 != null">
        EXT3,
      </if>
      <if test="opId != null">
        OP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodName != null">
        #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodImgs != null">
        #{prodImgs,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modDate != null">
        #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="prodDesc != null">
        #{prodDesc,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="opId != null">
        #{opId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.yangshop.po.DbProd">
    update DB_PROD
    <set>
      <if test="prodName != null">
        PROD_NAME = #{prodName,jdbcType=VARCHAR},
      </if>
      <if test="prodImgs != null">
        PROD_IMGS = #{prodImgs,jdbcType=VARCHAR},
      </if>
      <if test="prodType != null">
        PROD_TYPE = #{prodType,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modDate != null">
        MOD_DATE = #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="prodDesc != null">
        PROD_DESC = #{prodDesc,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
      <if test="opId != null">
        OP_ID = #{opId,jdbcType=VARCHAR},
      </if>
    </set>
    where PROD_ID = #{prodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.yangshop.po.DbProd">
    update DB_PROD
    set PROD_NAME = #{prodName,jdbcType=VARCHAR},
      PROD_IMGS = #{prodImgs,jdbcType=VARCHAR},
      PROD_TYPE = #{prodType,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MOD_DATE = #{modDate,jdbcType=TIMESTAMP},
      PROD_DESC = #{prodDesc,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR},
      OP_ID = #{opId,jdbcType=VARCHAR}
    where PROD_ID = #{prodId,jdbcType=INTEGER}
  </update>
</mapper>