<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.yangshop.dao.DbProdPriceMapper">
  <resultMap id="BaseResultMap" type="com.shop.yangshop.po.DbProdPrice">
    <result column="PROD_ID" jdbcType="INTEGER" property="prodId" />
    <result column="PRICE" jdbcType="DECIMAL" property="price" />
    <result column="DISCOUNT_PRICE" jdbcType="DECIMAL" property="discountPrice" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MOD_TIME" jdbcType="TIMESTAMP" property="modTime" />
    <result column="OP_ID" jdbcType="INTEGER" property="opId" />
  </resultMap>
  <insert id="insert" parameterType="com.shop.yangshop.po.DbProdPrice">
    insert into DB_PROD_PRICE (PROD_ID, PRICE, DISCOUNT_PRICE, 
      CREATE_TIME, MOD_TIME, OP_ID
      )
    values (#{prodId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modTime,jdbcType=TIMESTAMP}, #{opId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shop.yangshop.po.DbProdPrice">
    insert into DB_PROD_PRICE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        PROD_ID,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="discountPrice != null">
        DISCOUNT_PRICE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modTime != null">
        MOD_TIME,
      </if>
      <if test="opId != null">
        OP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prodId != null">
        #{prodId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modTime != null">
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opId != null">
        #{opId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>