<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.yangshop.dao.DbUserMapper">
  <resultMap id="BaseResultMap" type="com.shop.yangshop.po.DbUser">
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="STATE" jdbcType="VARCHAR" property="state" />
    <result column="BILL_ID" jdbcType="INTEGER" property="billId" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MOD_DATE" jdbcType="TIMESTAMP" property="modDate" />
    <result column="EXPIRE_DATE" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName" />
    <result column="HEAD_IMG_URL" jdbcType="VARCHAR" property="headImgUrl" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="PROVINCE" jdbcType="VARCHAR" property="province" />
    <result column="CITY" jdbcType="VARCHAR" property="city" />
    <result column="COUNTRY" jdbcType="VARCHAR" property="country" />
    <result column="EXT1" jdbcType="VARCHAR" property="ext1" />
    <result column="EXT2" jdbcType="VARCHAR" property="ext2" />
    <result column="EXT3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, `TYPE`, `STATE`, BILL_ID, CREATE_DATE, MOD_DATE, EXPIRE_DATE, 
    OPEN_ID, NICK_NAME, HEAD_IMG_URL, REMARKS, SEX, PROVINCE, CITY, COUNTRY, EXT1, EXT2, 
    EXT3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DB_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DB_USER
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="USER_ID" keyProperty="userId" parameterType="com.shop.yangshop.po.DbUser" useGeneratedKeys="true">
    insert into DB_USER (USER_NAME, `TYPE`, `STATE`, 
      BILL_ID, CREATE_DATE, MOD_DATE, 
      EXPIRE_DATE, OPEN_ID, NICK_NAME, 
      HEAD_IMG_URL, REMARKS, SEX, 
      PROVINCE, CITY, COUNTRY, 
      EXT1, EXT2, EXT3)
    values (#{userName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{billId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{modDate,jdbcType=TIMESTAMP}, 
      #{expireDate,jdbcType=TIMESTAMP}, #{openId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, 
      #{headImgUrl,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{ext3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="USER_ID" keyProperty="userId" parameterType="com.shop.yangshop.po.DbUser" useGeneratedKeys="true">
    insert into DB_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="type != null">
        `TYPE`,
      </if>
      <if test="state != null">
        `STATE`,
      </if>
      <if test="billId != null">
        BILL_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="modDate != null">
        MOD_DATE,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="headImgUrl != null">
        HEAD_IMG_URL,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="province != null">
        PROVINCE,
      </if>
      <if test="city != null">
        CITY,
      </if>
      <if test="country != null">
        COUNTRY,
      </if>
      <if test="ext1 != null">
        EXT1,
      </if>
      <if test="ext2 != null">
        EXT2,
      </if>
      <if test="ext3 != null">
        EXT3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        #{billId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modDate != null">
        #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        #{ext3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.yangshop.po.DbUser">
    update DB_USER
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `TYPE` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `STATE` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="billId != null">
        BILL_ID = #{billId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modDate != null">
        MOD_DATE = #{modDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headImgUrl != null">
        HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        EXT1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        EXT2 = #{ext2,jdbcType=VARCHAR},
      </if>
      <if test="ext3 != null">
        EXT3 = #{ext3,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.yangshop.po.DbUser">
    update DB_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      `TYPE` = #{type,jdbcType=VARCHAR},
      `STATE` = #{state,jdbcType=VARCHAR},
      BILL_ID = #{billId,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MOD_DATE = #{modDate,jdbcType=TIMESTAMP},
      EXPIRE_DATE = #{expireDate,jdbcType=TIMESTAMP},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      HEAD_IMG_URL = #{headImgUrl,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=INTEGER},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTRY = #{country,jdbcType=VARCHAR},
      EXT1 = #{ext1,jdbcType=VARCHAR},
      EXT2 = #{ext2,jdbcType=VARCHAR},
      EXT3 = #{ext3,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>